<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7d0136cc73ed03cfbb737de1d8c39867 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_7d0136cc73ed03cfbb737de1d8c39867" ></div>
        
</body>
<script>
    
    
            var map_7d0136cc73ed03cfbb737de1d8c39867 = L.map(
                "map_7d0136cc73ed03cfbb737de1d8c39867",
                {
                    center: [32.871172, 70.954883],
                    crs: L.CRS.EPSG3857,
                    zoom: 5.3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_670c3366c149b8a6f1615875d83b25bc = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 4, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7d0136cc73ed03cfbb737de1d8c39867);
        
    
            var marker_cluster_b69c12b7aab9b998bf927b9214da16a1 = L.markerClusterGroup(
                {}
            );
            map_7d0136cc73ed03cfbb737de1d8c39867.addLayer(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var marker_8a7ef8551c4782cdcd2ec5d9e73ff028 = L.marker(
                [33.70398065361182, 73.08379505536931],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_893a992f3b8ce0490565477806b4446e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8a7ef8551c4782cdcd2ec5d9e73ff028.setIcon(icon_893a992f3b8ce0490565477806b4446e);
        
    
        var popup_96d0680dae2ec77826975516f9bdb06c = L.popup({"maxWidth": "100%"});

        
            
                var html_80f1035d75227488b9f3527efdb67e93 = $(`<div id="html_80f1035d75227488b9f3527efdb67e93" style="width: 100.0%; height: 100.0%;"><div id="jobID-123" onClick="discription(123);">         FULLSTACK DEVELOPER click for more details         </div></div>`)[0];
                popup_96d0680dae2ec77826975516f9bdb06c.setContent(html_80f1035d75227488b9f3527efdb67e93);
            
        

        marker_8a7ef8551c4782cdcd2ec5d9e73ff028.bindPopup(popup_96d0680dae2ec77826975516f9bdb06c)
        ;

        
    
    
            var marker_ffb097be3f511ed98698716af6efc3c4 = L.marker(
                [31.536116903912745, 74.31366370387508],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_31329c1e77e91c2f79daffce461de4c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ffb097be3f511ed98698716af6efc3c4.setIcon(icon_31329c1e77e91c2f79daffce461de4c4);
        
    
        var popup_9a6ebe87fd4351d3777118e8f0493b77 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb98a532aa9d76d9002fcbca19abfbc7 = $(`<div id="html_eb98a532aa9d76d9002fcbca19abfbc7" style="width: 100.0%; height: 100.0%;"><div id="jobID-124" onClick="discription(124);">         PYTHON/AI DEVELOPER click for more details         </div></div>`)[0];
                popup_9a6ebe87fd4351d3777118e8f0493b77.setContent(html_eb98a532aa9d76d9002fcbca19abfbc7);
            
        

        marker_ffb097be3f511ed98698716af6efc3c4.bindPopup(popup_9a6ebe87fd4351d3777118e8f0493b77)
        ;

        
    
    
            var marker_41d5812fe115c1a09f72deecf6f53ddb = L.marker(
                [33.70215691426379, 73.08637281320723],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_b6f925d2af29203cf34aa50097122c65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_41d5812fe115c1a09f72deecf6f53ddb.setIcon(icon_b6f925d2af29203cf34aa50097122c65);
        
    
        var popup_e801fad3421f662fa7820aa8c64ce055 = L.popup({"maxWidth": "100%"});

        
            
                var html_60f1d00469c6c818950da5e2b67a7a37 = $(`<div id="html_60f1d00469c6c818950da5e2b67a7a37" style="width: 100.0%; height: 100.0%;"><div id="jobID-125" onClick="discription(125);">         FRESH GRADUATE TRAINEE ( ISLAMABAD ) click for more details         </div></div>`)[0];
                popup_e801fad3421f662fa7820aa8c64ce055.setContent(html_60f1d00469c6c818950da5e2b67a7a37);
            
        

        marker_41d5812fe115c1a09f72deecf6f53ddb.bindPopup(popup_e801fad3421f662fa7820aa8c64ce055)
        ;

        
    
    
            var marker_ff905de0de1f38faa8424789ac8538ea = L.marker(
                [33.70308476480904, 73.08649895406364],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_576389629c9534e316a75a2a5a4faaa2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ff905de0de1f38faa8424789ac8538ea.setIcon(icon_576389629c9534e316a75a2a5a4faaa2);
        
    
        var popup_03e26f6a8dba96e422ab8161c3fc6fcc = L.popup({"maxWidth": "100%"});

        
            
                var html_86fa7f447fe169123d10afdb092beb2b = $(`<div id="html_86fa7f447fe169123d10afdb092beb2b" style="width: 100.0%; height: 100.0%;"><div id="jobID-126" onClick="discription(126);">         SOFTWARE ENGINEER - FRONTEND (REACT JS) click for more details         </div></div>`)[0];
                popup_03e26f6a8dba96e422ab8161c3fc6fcc.setContent(html_86fa7f447fe169123d10afdb092beb2b);
            
        

        marker_ff905de0de1f38faa8424789ac8538ea.bindPopup(popup_03e26f6a8dba96e422ab8161c3fc6fcc)
        ;

        
    
    
            var marker_b1c2513621d590fafa981cafb6c3dbc8 = L.marker(
                [33.707260296442854, 73.08491164293802],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_e7d25fb64542ace5928706bf0412711a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b1c2513621d590fafa981cafb6c3dbc8.setIcon(icon_e7d25fb64542ace5928706bf0412711a);
        
    
        var popup_4be7f618e9071c8c86b768258bd18bd9 = L.popup({"maxWidth": "100%"});

        
            
                var html_7225963d598f26d0af5c2f2d8f61fac0 = $(`<div id="html_7225963d598f26d0af5c2f2d8f61fac0" style="width: 100.0%; height: 100.0%;"><div id="jobID-127" onClick="discription(127);">         FULL-STACK WEB DEVELOPER click for more details         </div></div>`)[0];
                popup_4be7f618e9071c8c86b768258bd18bd9.setContent(html_7225963d598f26d0af5c2f2d8f61fac0);
            
        

        marker_b1c2513621d590fafa981cafb6c3dbc8.bindPopup(popup_4be7f618e9071c8c86b768258bd18bd9)
        ;

        
    
    
            var marker_9a1d7f3ac16c1bb0e005081a2fc18153 = L.marker(
                [24.944721888704656, 67.04967207849356],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_cea52699e0c2e6b7d52601d0ca3ce96d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9a1d7f3ac16c1bb0e005081a2fc18153.setIcon(icon_cea52699e0c2e6b7d52601d0ca3ce96d);
        
    
        var popup_e3968e4e9dd44d7ebffc178d72894e8e = L.popup({"maxWidth": "100%"});

        
            
                var html_840ebf1a4293df6a8142d9e276c01af4 = $(`<div id="html_840ebf1a4293df6a8142d9e276c01af4" style="width: 100.0%; height: 100.0%;"><div id="jobID-128" onClick="discription(128);">         MERN STACK DEVELOPER click for more details         </div></div>`)[0];
                popup_e3968e4e9dd44d7ebffc178d72894e8e.setContent(html_840ebf1a4293df6a8142d9e276c01af4);
            
        

        marker_9a1d7f3ac16c1bb0e005081a2fc18153.bindPopup(popup_e3968e4e9dd44d7ebffc178d72894e8e)
        ;

        
    
    
            var marker_e084ce7b1db6ba2c2b99269462f84e4c = L.marker(
                [24.951775179430218, 67.05131820325259],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_e196f9c3d013e930b864e76918250917 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e084ce7b1db6ba2c2b99269462f84e4c.setIcon(icon_e196f9c3d013e930b864e76918250917);
        
    
        var popup_66fa1db1d6f5d00f9a6b86f5a14903c7 = L.popup({"maxWidth": "100%"});

        
            
                var html_ca553d029322ec078814962c87cf5ade = $(`<div id="html_ca553d029322ec078814962c87cf5ade" style="width: 100.0%; height: 100.0%;"><div id="jobID-129" onClick="discription(129);">         IT SUPPORT SPECIALIST click for more details         </div></div>`)[0];
                popup_66fa1db1d6f5d00f9a6b86f5a14903c7.setContent(html_ca553d029322ec078814962c87cf5ade);
            
        

        marker_e084ce7b1db6ba2c2b99269462f84e4c.bindPopup(popup_66fa1db1d6f5d00f9a6b86f5a14903c7)
        ;

        
    
    
            var marker_72f0c6d4773a3c6fe5a0165e660007b9 = L.marker(
                [31.541001732125107, 74.31517817962765],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_f9a596e1e5a027aac36a14a64d51c406 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_72f0c6d4773a3c6fe5a0165e660007b9.setIcon(icon_f9a596e1e5a027aac36a14a64d51c406);
        
    
        var popup_ac26a05fa7065502a316923bce06b207 = L.popup({"maxWidth": "100%"});

        
            
                var html_12fccb33c80faaeb53182bcdea0621d4 = $(`<div id="html_12fccb33c80faaeb53182bcdea0621d4" style="width: 100.0%; height: 100.0%;"><div id="jobID-130" onClick="discription(130);">         SOLUTIONS ARCHITECT click for more details         </div></div>`)[0];
                popup_ac26a05fa7065502a316923bce06b207.setContent(html_12fccb33c80faaeb53182bcdea0621d4);
            
        

        marker_72f0c6d4773a3c6fe5a0165e660007b9.bindPopup(popup_ac26a05fa7065502a316923bce06b207)
        ;

        
    
    
            var marker_f744a1e91b6e5c1f5fe2fafb519b7d57 = L.marker(
                [31.54125426139606, 74.31152962334505],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_6928381987adeb736eac37775e9df3e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f744a1e91b6e5c1f5fe2fafb519b7d57.setIcon(icon_6928381987adeb736eac37775e9df3e7);
        
    
        var popup_043b246fed7179889e4ec2bbb3aa6c13 = L.popup({"maxWidth": "100%"});

        
            
                var html_533628f64688c1ef3e24bef4a75bd476 = $(`<div id="html_533628f64688c1ef3e24bef4a75bd476" style="width: 100.0%; height: 100.0%;"><div id="jobID-131" onClick="discription(131);">         IOT ENGINEER click for more details         </div></div>`)[0];
                popup_043b246fed7179889e4ec2bbb3aa6c13.setContent(html_533628f64688c1ef3e24bef4a75bd476);
            
        

        marker_f744a1e91b6e5c1f5fe2fafb519b7d57.bindPopup(popup_043b246fed7179889e4ec2bbb3aa6c13)
        ;

        
    
    
            var marker_18afe3f56c16d4cec61bbde3043c1da5 = L.marker(
                [24.94752312229164, 67.05303187296927],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_b720a9c185a7b2a8622ff961e74bc0b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_18afe3f56c16d4cec61bbde3043c1da5.setIcon(icon_b720a9c185a7b2a8622ff961e74bc0b8);
        
    
        var popup_0dcb2871374527e0116d2d6c3b635307 = L.popup({"maxWidth": "100%"});

        
            
                var html_39db3a41706f176ed4ef836df8e006b9 = $(`<div id="html_39db3a41706f176ed4ef836df8e006b9" style="width: 100.0%; height: 100.0%;"><div id="jobID-132" onClick="discription(132);">         WEB DEVELOPER click for more details         </div></div>`)[0];
                popup_0dcb2871374527e0116d2d6c3b635307.setContent(html_39db3a41706f176ed4ef836df8e006b9);
            
        

        marker_18afe3f56c16d4cec61bbde3043c1da5.bindPopup(popup_0dcb2871374527e0116d2d6c3b635307)
        ;

        
    
    
            var marker_0233c1a9a6171cf40c2da04ecc09d343 = L.marker(
                [24.955985251403064, 67.05519483481581],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_d790bfdc6185105c368423d308717c82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0233c1a9a6171cf40c2da04ecc09d343.setIcon(icon_d790bfdc6185105c368423d308717c82);
        
    
        var popup_40aa4a4e0297c0faa63ea0605a1bd740 = L.popup({"maxWidth": "100%"});

        
            
                var html_8bea405bd3f1e315ea73bddc15540af7 = $(`<div id="html_8bea405bd3f1e315ea73bddc15540af7" style="width: 100.0%; height: 100.0%;"><div id="jobID-133" onClick="discription(133);">         SOFTWARE ENGINEER click for more details         </div></div>`)[0];
                popup_40aa4a4e0297c0faa63ea0605a1bd740.setContent(html_8bea405bd3f1e315ea73bddc15540af7);
            
        

        marker_0233c1a9a6171cf40c2da04ecc09d343.bindPopup(popup_40aa4a4e0297c0faa63ea0605a1bd740)
        ;

        
    
    
            var marker_ce5c0bc14a1aaf8e07a8e5aa34770ef2 = L.marker(
                [31.545865105055494, 74.31695608760172],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_6ea00d8a565122e41c8a26900ea77091 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ce5c0bc14a1aaf8e07a8e5aa34770ef2.setIcon(icon_6ea00d8a565122e41c8a26900ea77091);
        
    
        var popup_b78c4a414bfa8a93923a9e90cfeec3bd = L.popup({"maxWidth": "100%"});

        
            
                var html_5feb1b89ad2ae86a1a31a46133838360 = $(`<div id="html_5feb1b89ad2ae86a1a31a46133838360" style="width: 100.0%; height: 100.0%;"><div id="jobID-134" onClick="discription(134);">         FULL STACK ENGINEER click for more details         </div></div>`)[0];
                popup_b78c4a414bfa8a93923a9e90cfeec3bd.setContent(html_5feb1b89ad2ae86a1a31a46133838360);
            
        

        marker_ce5c0bc14a1aaf8e07a8e5aa34770ef2.bindPopup(popup_b78c4a414bfa8a93923a9e90cfeec3bd)
        ;

        
    
    
            var marker_1b416c73097436d3f91fde1ed9f80d66 = L.marker(
                [33.720947923491586, 73.09290075422736],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_d46dc747bce9d5f475f1c879cb975df5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1b416c73097436d3f91fde1ed9f80d66.setIcon(icon_d46dc747bce9d5f475f1c879cb975df5);
        
    
        var popup_c94e4e26d6056d2943356de5d567d13c = L.popup({"maxWidth": "100%"});

        
            
                var html_402b6f7ed64c2e57d486a89e1cb0eb38 = $(`<div id="html_402b6f7ed64c2e57d486a89e1cb0eb38" style="width: 100.0%; height: 100.0%;"><div id="jobID-135" onClick="discription(135);">         SOFTWARE ENGINEER - (ANGULAR) - REMOTE click for more details         </div></div>`)[0];
                popup_c94e4e26d6056d2943356de5d567d13c.setContent(html_402b6f7ed64c2e57d486a89e1cb0eb38);
            
        

        marker_1b416c73097436d3f91fde1ed9f80d66.bindPopup(popup_c94e4e26d6056d2943356de5d567d13c)
        ;

        
    
    
            var marker_bb58e31375edc36451987dc9cc22abf2 = L.marker(
                [24.960404658114676, 67.05550154331831],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_0a9ad500f6f1130f322d71e483e36290 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bb58e31375edc36451987dc9cc22abf2.setIcon(icon_0a9ad500f6f1130f322d71e483e36290);
        
    
        var popup_8eefaa5ce6f7d88e6f8f2eead9edda80 = L.popup({"maxWidth": "100%"});

        
            
                var html_59b28827a3949645a6390d64febcb630 = $(`<div id="html_59b28827a3949645a6390d64febcb630" style="width: 100.0%; height: 100.0%;"><div id="jobID-136" onClick="discription(136);">         REACT NATIVE DEVELOPER click for more details         </div></div>`)[0];
                popup_8eefaa5ce6f7d88e6f8f2eead9edda80.setContent(html_59b28827a3949645a6390d64febcb630);
            
        

        marker_bb58e31375edc36451987dc9cc22abf2.bindPopup(popup_8eefaa5ce6f7d88e6f8f2eead9edda80)
        ;

        
    
    
            var marker_cfc71093b150ae4aa7383ca0a2972191 = L.marker(
                [31.54981821881142, 74.31806690758727],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_ca5835a7881988f5ac098dec86214950 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cfc71093b150ae4aa7383ca0a2972191.setIcon(icon_ca5835a7881988f5ac098dec86214950);
        
    
        var popup_0e26edcb97f3a8b1957d30177173f637 = L.popup({"maxWidth": "100%"});

        
            
                var html_2fb36184fb3f5bd8c6e7844f27af99c3 = $(`<div id="html_2fb36184fb3f5bd8c6e7844f27af99c3" style="width: 100.0%; height: 100.0%;"><div id="jobID-137" onClick="discription(137);">         FULL STACK ENGINEER - PAKISTAN TEAM click for more details         </div></div>`)[0];
                popup_0e26edcb97f3a8b1957d30177173f637.setContent(html_2fb36184fb3f5bd8c6e7844f27af99c3);
            
        

        marker_cfc71093b150ae4aa7383ca0a2972191.bindPopup(popup_0e26edcb97f3a8b1957d30177173f637)
        ;

        
    
    
            var marker_7d1ab2424a79f19698c0f52d9d2fe6fd = L.marker(
                [33.72410498264334, 73.09924964507468],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_c3d22c9331fc9a85b9ead915789d6fac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7d1ab2424a79f19698c0f52d9d2fe6fd.setIcon(icon_c3d22c9331fc9a85b9ead915789d6fac);
        
    
        var popup_076580460a791641fba778cf40daa174 = L.popup({"maxWidth": "100%"});

        
            
                var html_fe008e976f312d272ca542fe1312433a = $(`<div id="html_fe008e976f312d272ca542fe1312433a" style="width: 100.0%; height: 100.0%;"><div id="jobID-139" onClick="discription(139);">         SENIOR FULL STACK DEVELOPER click for more details         </div></div>`)[0];
                popup_076580460a791641fba778cf40daa174.setContent(html_fe008e976f312d272ca542fe1312433a);
            
        

        marker_7d1ab2424a79f19698c0f52d9d2fe6fd.bindPopup(popup_076580460a791641fba778cf40daa174)
        ;

        
    
    
            var marker_db4232fe566c19909f6ab900dff92bdf = L.marker(
                [24.956927186396246, 67.0580182118323],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_554163b3733003d37911c75f09a21322 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_db4232fe566c19909f6ab900dff92bdf.setIcon(icon_554163b3733003d37911c75f09a21322);
        
    
        var popup_18df7276173f8915e2f48702aded8e87 = L.popup({"maxWidth": "100%"});

        
            
                var html_5c66707b2116b1db02cd0443dc6c253e = $(`<div id="html_5c66707b2116b1db02cd0443dc6c253e" style="width: 100.0%; height: 100.0%;"><div id="jobID-140" onClick="discription(140);">         SOLUTION ARCHITECT click for more details         </div></div>`)[0];
                popup_18df7276173f8915e2f48702aded8e87.setContent(html_5c66707b2116b1db02cd0443dc6c253e);
            
        

        marker_db4232fe566c19909f6ab900dff92bdf.bindPopup(popup_18df7276173f8915e2f48702aded8e87)
        ;

        
    
    
            var marker_30505897392d34c20579834a65402e97 = L.marker(
                [33.721055126897696, 73.09560230155235],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_540a375b2047a270e00d2295b3fca36c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_30505897392d34c20579834a65402e97.setIcon(icon_540a375b2047a270e00d2295b3fca36c);
        
    
        var popup_947a95460bec14efd92eba51aa4415ef = L.popup({"maxWidth": "100%"});

        
            
                var html_2c92976a6e92136ca29707dddfff97be = $(`<div id="html_2c92976a6e92136ca29707dddfff97be" style="width: 100.0%; height: 100.0%;"><div id="jobID-141" onClick="discription(141);">         FRONTEND DEVELOPER click for more details         </div></div>`)[0];
                popup_947a95460bec14efd92eba51aa4415ef.setContent(html_2c92976a6e92136ca29707dddfff97be);
            
        

        marker_30505897392d34c20579834a65402e97.bindPopup(popup_947a95460bec14efd92eba51aa4415ef)
        ;

        
    
    
            var marker_988f1e6bc26cead65221010513ef2020 = L.marker(
                [31.54811147586835, 74.32549728858893],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_453ce9b26ddbe7c04a3212d824beb1ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_988f1e6bc26cead65221010513ef2020.setIcon(icon_453ce9b26ddbe7c04a3212d824beb1ed);
        
    
        var popup_cd0f8a7df87f6dd6d866565f7869f98e = L.popup({"maxWidth": "100%"});

        
            
                var html_7f03fe69d99b3d7b573b192eeb4a4b0b = $(`<div id="html_7f03fe69d99b3d7b573b192eeb4a4b0b" style="width: 100.0%; height: 100.0%;"><div id="jobID-142" onClick="discription(142);">         SENIOR SOFTWARE ENGINEER/REACT click for more details         </div></div>`)[0];
                popup_cd0f8a7df87f6dd6d866565f7869f98e.setContent(html_7f03fe69d99b3d7b573b192eeb4a4b0b);
            
        

        marker_988f1e6bc26cead65221010513ef2020.bindPopup(popup_cd0f8a7df87f6dd6d866565f7869f98e)
        ;

        
    
    
            var marker_ccd4210134b153356ae0724b4de7a37e = L.marker(
                [31.55146270407132, 74.3267315247428],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_145c69e909cfe90112f66fbadbe3769b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ccd4210134b153356ae0724b4de7a37e.setIcon(icon_145c69e909cfe90112f66fbadbe3769b);
        
    
        var popup_5504cc93bd9af16787fd0124ae9634f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_5645c4642e82a438299bdbbfad9a699d = $(`<div id="html_5645c4642e82a438299bdbbfad9a699d" style="width: 100.0%; height: 100.0%;"><div id="jobID-143" onClick="discription(143);">         SENIOR SOFTWARE ENGINEER/PYTHON click for more details         </div></div>`)[0];
                popup_5504cc93bd9af16787fd0124ae9634f4.setContent(html_5645c4642e82a438299bdbbfad9a699d);
            
        

        marker_ccd4210134b153356ae0724b4de7a37e.bindPopup(popup_5504cc93bd9af16787fd0124ae9634f4)
        ;

        
    
    
            var marker_fc4a696d6b4b8914bd7d8e6489b9769f = L.marker(
                [24.962965135166467, 67.0626439434284],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_32852f36cb120ca98e134e219fc2deed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fc4a696d6b4b8914bd7d8e6489b9769f.setIcon(icon_32852f36cb120ca98e134e219fc2deed);
        
    
        var popup_d6f1d3f2f2c11a40bb6b3dcec10041a0 = L.popup({"maxWidth": "100%"});

        
            
                var html_ec8d3a5348c071c995371106f4278488 = $(`<div id="html_ec8d3a5348c071c995371106f4278488" style="width: 100.0%; height: 100.0%;"><div id="jobID-144" onClick="discription(144);">         TECHNICAL PROJECT MANAGER click for more details         </div></div>`)[0];
                popup_d6f1d3f2f2c11a40bb6b3dcec10041a0.setContent(html_ec8d3a5348c071c995371106f4278488);
            
        

        marker_fc4a696d6b4b8914bd7d8e6489b9769f.bindPopup(popup_d6f1d3f2f2c11a40bb6b3dcec10041a0)
        ;

        
    
    
            var marker_e046439a1a5d17ec120b79796548c11f = L.marker(
                [24.964557817578203, 67.06747117029344],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_29c2a7f937c53b87492453680024a9ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e046439a1a5d17ec120b79796548c11f.setIcon(icon_29c2a7f937c53b87492453680024a9ee);
        
    
        var popup_b5dcf241bd1ffc1c801183030c587018 = L.popup({"maxWidth": "100%"});

        
            
                var html_6db57c7d9025cc270396099c68b44959 = $(`<div id="html_6db57c7d9025cc270396099c68b44959" style="width: 100.0%; height: 100.0%;"><div id="jobID-145" onClick="discription(145);">         TECHNICAL PROJECT MANAGER click for more details         </div></div>`)[0];
                popup_b5dcf241bd1ffc1c801183030c587018.setContent(html_6db57c7d9025cc270396099c68b44959);
            
        

        marker_e046439a1a5d17ec120b79796548c11f.bindPopup(popup_b5dcf241bd1ffc1c801183030c587018)
        ;

        
    
    
            var marker_173a174f9c9ab98af24903c9d234ddf6 = L.marker(
                [33.725701900998466, 73.10678508158229],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_55da5e94bfc7144f6896d80b5d54e48a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_173a174f9c9ab98af24903c9d234ddf6.setIcon(icon_55da5e94bfc7144f6896d80b5d54e48a);
        
    
        var popup_03f79851e8f6b4339cb43856188389ba = L.popup({"maxWidth": "100%"});

        
            
                var html_4d0384e609bc73de1f185bb273bd3b38 = $(`<div id="html_4d0384e609bc73de1f185bb273bd3b38" style="width: 100.0%; height: 100.0%;"><div id="jobID-146" onClick="discription(146);">         MACHINE LEARNING OPS ENGINEER (REMOTE) click for more details         </div></div>`)[0];
                popup_03f79851e8f6b4339cb43856188389ba.setContent(html_4d0384e609bc73de1f185bb273bd3b38);
            
        

        marker_173a174f9c9ab98af24903c9d234ddf6.bindPopup(popup_03f79851e8f6b4339cb43856188389ba)
        ;

        
    
    
            var marker_7f822f72447381cb3c55c50c8b78d8bf = L.marker(
                [31.559557573921218, 74.33065762762084],
                {}
            ).addTo(marker_cluster_b69c12b7aab9b998bf927b9214da16a1);
        
    
            var icon_77b55ab3c137b664fe0eb8adcd4d9138 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7f822f72447381cb3c55c50c8b78d8bf.setIcon(icon_77b55ab3c137b664fe0eb8adcd4d9138);
        
    
        var popup_547313712883ecc1cc575514d8130fcf = L.popup({"maxWidth": "100%"});

        
            
                var html_dba47eeb046445a05a925e72ee28ad74 = $(`<div id="html_dba47eeb046445a05a925e72ee28ad74" style="width: 100.0%; height: 100.0%;"><div id="jobID-147" onClick="discription(147);">         APPLICATION DEVELOPER click for more details         </div></div>`)[0];
                popup_547313712883ecc1cc575514d8130fcf.setContent(html_dba47eeb046445a05a925e72ee28ad74);
            
        

        marker_7f822f72447381cb3c55c50c8b78d8bf.bindPopup(popup_547313712883ecc1cc575514d8130fcf)
        ;

        
    
</script>
</html>