<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f90fd169796a9f789e382b6ffd378463 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_f90fd169796a9f789e382b6ffd378463" ></div>
        
</body>
<script>
    
    
            var map_f90fd169796a9f789e382b6ffd378463 = L.map(
                "map_f90fd169796a9f789e382b6ffd378463",
                {
                    center: [32.871172, 70.954883],
                    crs: L.CRS.EPSG3857,
                    zoom: 5.3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f8dd034665c5e23bd3a4905189a90962 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 4, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f90fd169796a9f789e382b6ffd378463);
        
    
            var marker_cluster_c8b30778fa00b56955ed61f5a2897884 = L.markerClusterGroup(
                {}
            );
            map_f90fd169796a9f789e382b6ffd378463.addLayer(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var marker_907076906e1c6af93fd574aaa731822c = L.marker(
                [31.532725043905135, 74.30436840671524],
                {}
            ).addTo(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var icon_638ba54619b38992837711d13fc28240 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_907076906e1c6af93fd574aaa731822c.setIcon(icon_638ba54619b38992837711d13fc28240);
        
    
        var popup_f2107f449476e3fb42395d3dc115eeaf = L.popup({"maxWidth": "100%"});

        
            
                var html_abf5a2a668e677665b473f1c474ffdc5 = $(`<div id="html_abf5a2a668e677665b473f1c474ffdc5" style="width: 100.0%; height: 100.0%;"><div id="jobID-1" style="font-weight: bold;cursor: pointer;" onClick="discription(1);">         PYTHON/AI DEVELOPER click for more details         </div></div>`)[0];
                popup_f2107f449476e3fb42395d3dc115eeaf.setContent(html_abf5a2a668e677665b473f1c474ffdc5);
            
        

        marker_907076906e1c6af93fd574aaa731822c.bindPopup(popup_f2107f449476e3fb42395d3dc115eeaf)
        ;

        
    
    
            var marker_c14ebcf4ff489e082e1645478c115d7d = L.marker(
                [33.707294919334586, 73.07695997200531],
                {}
            ).addTo(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var icon_02342ed81373784f8107e784859179ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_c14ebcf4ff489e082e1645478c115d7d.setIcon(icon_02342ed81373784f8107e784859179ea);
        
    
        var popup_6aff4d9471cbc3265858d1fa88686972 = L.popup({"maxWidth": "100%"});

        
            
                var html_b78b9149d9343a152550bc1414f39891 = $(`<div id="html_b78b9149d9343a152550bc1414f39891" style="width: 100.0%; height: 100.0%;"><div id="jobID-2" style="font-weight: bold;cursor: pointer;" onClick="discription(2);">         FULLSTACK DEVELOPER click for more details         </div></div>`)[0];
                popup_6aff4d9471cbc3265858d1fa88686972.setContent(html_b78b9149d9343a152550bc1414f39891);
            
        

        marker_c14ebcf4ff489e082e1645478c115d7d.bindPopup(popup_6aff4d9471cbc3265858d1fa88686972)
        ;

        
    
    
            var marker_f7c1a44949ffcb2e2c025585a7f3eb1b = L.marker(
                [31.533588665425864, 74.31478126060907],
                {}
            ).addTo(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var icon_bacd35be2c0b865ca4160722143c77f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_f7c1a44949ffcb2e2c025585a7f3eb1b.setIcon(icon_bacd35be2c0b865ca4160722143c77f1);
        
    
        var popup_e7dee6799c1716303c6f551e7a44558d = L.popup({"maxWidth": "100%"});

        
            
                var html_d5deaae8406c9fa10bb12e7e29ff7baa = $(`<div id="html_d5deaae8406c9fa10bb12e7e29ff7baa" style="width: 100.0%; height: 100.0%;"><div id="jobID-3" style="font-weight: bold;cursor: pointer;" onClick="discription(3);">         RUBY ON RAILS DEVELOPER(FRESH GRADUATES) click for more details         </div></div>`)[0];
                popup_e7dee6799c1716303c6f551e7a44558d.setContent(html_d5deaae8406c9fa10bb12e7e29ff7baa);
            
        

        marker_f7c1a44949ffcb2e2c025585a7f3eb1b.bindPopup(popup_e7dee6799c1716303c6f551e7a44558d)
        ;

        
    
    
            var marker_c21d29bc3192e6a7ef2ad70c2a8c235b = L.marker(
                [33.70524518642477, 73.07882872489928],
                {}
            ).addTo(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var icon_aa21da9bc789217e7d8502af6ee9900b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_c21d29bc3192e6a7ef2ad70c2a8c235b.setIcon(icon_aa21da9bc789217e7d8502af6ee9900b);
        
    
        var popup_fafd1088b501a6e28ec1cbe87b104e74 = L.popup({"maxWidth": "100%"});

        
            
                var html_4119d5ee7015093b33c12333c4035ab7 = $(`<div id="html_4119d5ee7015093b33c12333c4035ab7" style="width: 100.0%; height: 100.0%;"><div id="jobID-4" style="font-weight: bold;cursor: pointer;" onClick="discription(4);">         JAVA DEVELOPER click for more details         </div></div>`)[0];
                popup_fafd1088b501a6e28ec1cbe87b104e74.setContent(html_4119d5ee7015093b33c12333c4035ab7);
            
        

        marker_c21d29bc3192e6a7ef2ad70c2a8c235b.bindPopup(popup_fafd1088b501a6e28ec1cbe87b104e74)
        ;

        
    
    
            var marker_fa89434450645123be7cdba615cc8e46 = L.marker(
                [24.943703595502956, 67.0547782648392],
                {}
            ).addTo(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var icon_303239baf0b0930d4ec620e372a9c2f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_fa89434450645123be7cdba615cc8e46.setIcon(icon_303239baf0b0930d4ec620e372a9c2f1);
        
    
        var popup_91845b2eff7e1170514426e00d73e379 = L.popup({"maxWidth": "100%"});

        
            
                var html_dff8b84de62261d542c18bcf73001c19 = $(`<div id="html_dff8b84de62261d542c18bcf73001c19" style="width: 100.0%; height: 100.0%;"><div id="jobID-5" style="font-weight: bold;cursor: pointer;" onClick="discription(5);">         NODE.JS ENGINEER click for more details         </div></div>`)[0];
                popup_91845b2eff7e1170514426e00d73e379.setContent(html_dff8b84de62261d542c18bcf73001c19);
            
        

        marker_fa89434450645123be7cdba615cc8e46.bindPopup(popup_91845b2eff7e1170514426e00d73e379)
        ;

        
    
    
            var marker_8d2f0e6ad3a0a30b0c6e103fd706e778 = L.marker(
                [24.948775681094858, 67.05304710124732],
                {}
            ).addTo(marker_cluster_c8b30778fa00b56955ed61f5a2897884);
        
    
            var icon_b1b0014214944a1427dd5c3d9643b06f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "briefcase", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_8d2f0e6ad3a0a30b0c6e103fd706e778.setIcon(icon_b1b0014214944a1427dd5c3d9643b06f);
        
    
        var popup_5aed43d0f32db0b88f2de8897ad569fe = L.popup({"maxWidth": "100%"});

        
            
                var html_0820a190ad56ac522fcbf8472ab37fc8 = $(`<div id="html_0820a190ad56ac522fcbf8472ab37fc8" style="width: 100.0%; height: 100.0%;"><div id="jobID-6" style="font-weight: bold;cursor: pointer;" onClick="discription(6);">         SENIOR SOFTWARE DEVELOPER click for more details         </div></div>`)[0];
                popup_5aed43d0f32db0b88f2de8897ad569fe.setContent(html_0820a190ad56ac522fcbf8472ab37fc8);
            
        

        marker_8d2f0e6ad3a0a30b0c6e103fd706e778.bindPopup(popup_5aed43d0f32db0b88f2de8897ad569fe)
        ;

        
    
</script>
</html>